services:
  db:
    image: postgres:16-alpine
    container_name: pain_point_hunter_db
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: pain_point_hunter
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
